nslaves	1
master	global	11031
slave	warming	11026
% The port numbers must be > 1024 and < 65335
port	11001
port	11002
port	11003
port	11004
port	11005
port	11006
port	11007
port	11008
port	11009
port	11010
port	11011
port	11012
port	11013
port	11014
port	11015
port	11016
port	11017
port	11018
port	11019
port	11020
port	11021
port	11022
port	11023
port	11024
port	11025
datatype	global	CONTINUOUS	POSITION	DIGITALIO FSDATA
datatype	warming	SPIKE
datadirectory	global	/data
datadirectory	warming	/data
audio	0	100	1000	0
audio	1	100	0	0
dspclock	1
colorfile	/usr/local/nspike/nspike_rgbcolor
posinput        -1
trackdarkpixels	0
posthresh	230
posxflip	1
posyflip	0
mpegquality	80
mpegslices	2
videocodec      1
videogopsize    0
ndioports	4
dioport	0	input
dioport	1	output
dioport	2	output
dioport	3	output
fsgui stim
fsdata POSITION
fsdata CONTINUOUS 3
eegtracelength	2.000000
calibrationfile	/usr/local/nspike/nspikecalfile

%          dsp num    samplingrate     machine assigned to dsp
dspinfo     0              1               global
dspinfo     1              1500               global
dspinfo     2              30000              warming
dspinfo     3              30000              warming
dspinfo     4              30000              warming
dspinfo     5              30000              warming

%          electrode chan# dsp_channel
electmap       1      0      2
electmap       1      1      115
electmap       1      2      83
electmap       1      3      3
electmap       2      0      1
electmap       2      1      114
electmap       2      2      66
electmap       2      3      50
electmap       3      0      0
electmap       3      1      113
electmap       3      2      65
electmap       3      3      49
electmap       4      0      64
electmap       4      1      48
electmap       4      2      18
electmap       4      3      99
electmap       5      0      17
electmap       5      1      98
electmap       5      2      82
electmap       5      3      34
electmap       6      0      16
electmap       6      1      97
electmap       6      2      81
electmap       6      3      33
electmap       7      0      96
electmap       7      1      80
electmap       7      2      32
electmap       7      3      7
electmap       8      0      100
electmap       8      1      84
electmap       8      2      36
electmap       8      3      11
electmap       9      0      20
electmap       9      1      101
electmap       9      2      85
electmap       9      3      37
electmap       10      0      21
electmap       10      1      102
electmap       10      2      86
electmap       10      3      38
electmap       11      0      68
electmap       11      1      52
electmap       11      2      22
electmap       11      3      103
electmap       12      0      4
electmap       12      1      117
electmap       12      2      69
electmap       12      3      53
electmap       13      0      5
electmap       13      1      118
electmap       13      2      70
electmap       13      3      54
electmap       14      0      6
electmap       14      1      119
electmap       14      2      87
electmap       14      3      15
electmap       15      0      63

%EEG channels
hostname   global
   channel 0
       dspnum      1
       dspchan     2
       number      1
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       2
   channel 1
       dspnum      1
       dspchan     1
       number      2
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       1
   channel 2
       dspnum      1
       dspchan     0
       number      3
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       2
   channel 3
       dspnum      1
       dspchan     64
       number      4
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       1
   channel 4
       dspnum      1
       dspchan     17
       number      5
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       2
   channel 5
       dspnum      1
       dspchan     16
       number      6
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       1
   channel 6
       dspnum      1
       dspchan     96
       number      7
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       2
   channel 7
       dspnum      1
       dspchan     100
       number      8
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       1
   channel 8
       dspnum      1
       dspchan     20
       number      9
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       2
   channel 9
       dspnum      1
       dspchan     21
       number      10
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       1
   channel 10
       dspnum      1
       dspchan     68
       number      11
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       2
   channel 11
       dspnum      1
       dspchan     4
       number      12
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       1
   channel 12
       dspnum      1
       dspchan     5
       number      13
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       2
   channel 13
       dspnum      1
       dspchan     6
       number      14
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  2000
       filter      1 400
       color       1
   channel 14
       dspnum      1
       dspchan     63
       number      15
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      10000
       maxdispval  65500
       filter      1 11000
       color       1

%Spike channels
hostname   warming
   channel 0
       dspnum      2
       dspchan     2
       number      1
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 1
       dspnum      2
       dspchan     115
       number      1
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 2
       dspnum      2
       dspchan     83
       number      1
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 3
       dspnum      2
       dspchan     3
       number      1
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 4
       dspnum      2
       dspchan     1
       number      2
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 5
       dspnum      2
       dspchan     114
       number      2
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 6
       dspnum      2
       dspchan     66
       number      2
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 7
       dspnum      2
       dspchan     50
       number      2
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 8
       dspnum      2
       dspchan     0
       number      3
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 9
       dspnum      2
       dspchan     113
       number      3
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 10
       dspnum      2
       dspchan     65
       number      3
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 11
       dspnum      2
       dspchan     49
       number      3
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 12
       dspnum      2
       dspchan     64
       number      4
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
   channel 13
       dspnum      2
       dspchan     48
       number      4
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
   channel 14
       dspnum      2
       dspchan     18
       number      4
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
   channel 15
       dspnum      2
       dspchan     99
       number      4
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
   channel 16
       dspnum      3
       dspchan     17
       number      5
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       6
   channel 17
       dspnum      3
       dspchan     98
       number      5
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       6
   channel 18
       dspnum      3
       dspchan     82
       number      5
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       6
   channel 19
       dspnum      3
       dspchan     34
       number      5
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       6
   channel 20
       dspnum      3
       dspchan     16
       number      6
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       7
   channel 21
       dspnum      3
       dspchan     97
       number      6
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       7
   channel 22
       dspnum      3
       dspchan     81
       number      6
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       7
   channel 23
       dspnum      3
       dspchan     33
       number      6
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       7
   channel 24
       dspnum      3
       dspchan     96
       number      7
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       8
   channel 25
       dspnum      3
       dspchan     80
       number      7
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       8
   channel 26
       dspnum      3
       dspchan     32
       number      7
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       8
   channel 27
       dspnum      3
       dspchan     7
       number      7
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       8
   channel 28
       dspnum      3
       dspchan     100
       number      8
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       9
   channel 29
       dspnum      3
       dspchan     84
       number      8
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       9
   channel 30
       dspnum      3
       dspchan     36
       number      8
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       9
   channel 31
       dspnum      3
       dspchan     11
       number      8
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       9
   channel 32
       dspnum      4
       dspchan     20
       number      9
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       10
   channel 33
       dspnum      4
       dspchan     101
       number      9
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       10
   channel 34
       dspnum      4
       dspchan     85
       number      9
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       10
   channel 35
       dspnum      4
       dspchan     37
       number      9
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       10
   channel 36
       dspnum      4
       dspchan     21
       number      10
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       1
   channel 37
       dspnum      4
       dspchan     102
       number      10
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       1
   channel 38
       dspnum      4
       dspchan     86
       number      10
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       1
   channel 39
       dspnum      4
       dspchan     38
       number      10
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       1
   channel 40
       dspnum      4
       dspchan     68
       number      11
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 41
       dspnum      4
       dspchan     52
       number      11
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 42
       dspnum      4
       dspchan     22
       number      11
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 43
       dspnum      4
       dspchan     103
       number      11
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       2
   channel 44
       dspnum      4
       dspchan     4
       number      12
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 45
       dspnum      4
       dspchan     117
       number      12
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 46
       dspnum      4
       dspchan     69
       number      12
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 47
       dspnum      4
       dspchan     53
       number      12
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       3
   channel 48
       dspnum      5
       dspchan     5
       number      13
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 49
       dspnum      5
       dspchan     118
       number      13
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 50
       dspnum      5
       dspchan     70
       number      13
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 51
       dspnum      5
       dspchan     54
       number      13
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       4
   channel 52
       dspnum      5
       dspchan     6
       number      14
       electchan   0
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
   channel 53
       dspnum      5
       dspchan     119
       number      14
       electchan   1
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
   channel 54
       dspnum      5
       dspchan     87
       number      14
       electchan   2
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
   channel 55
       dspnum      5
       dspchan     15
       number      14
       electchan   3
       depth       0
       refelect    0
       refchan     0
       thresh      40
       maxdispval  200
       filter      300 6000
       color       5
